ul#menu{
    margin:0;
    padding:0;
    text-align:center;
    list-style-type: none;

}

ul#menu li{
    display: inline;
    margin:0.3em;
    padding:0.2em 1.5em;
    border:1px solid #ccc;    
    background-color: #eef;
    
}

ul li#current{
    background-color: #ccc;
}

ul#menu a{
    text-decoration:none;
    color:#000;
}




